input:focus,
select:focus,
textarea:focus,
button:focus,
.page-link:focus {
  outline: none !important;
  box-shadow: none !important;
  /* background-color: none; */
}


body {
  margin: 0;
  background: #F8F8FF !important;
  position: relative;
  min-height: 100vh;
}

html * {
  font-family: 'Rubik', sans-serif;
}

.hoverZoom:hover {
  transform: scale(1.02);
}

.adminMain {
  margin-left: 250px;
  padding: 20px;
  margin-top: 80px;
}

@media screen and (max-width: 767px) {
  .adminMain {
    margin-left: 0px;
  }
}

/* general margin */
.genaralBody {
  margin-bottom: 150px;
}

.customBtn {
  background-color: #800467;
  color: #fff;
}

.customBtn:hover {
  background-color: #80146A;
  color: #fff;
  font-weight: bolder;
}


.dropdown-toggle::after {
  display: none;
}


.card-header {
  background-color: #f3ebf1;
  color: #400434;
  padding-block: 15px;
}

.table> :not(:first-child) {
  border-top: 0;
}



/* #################################### remove arrow from number input */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/* #################################### remove arrow from number input */